
/*main background color*/
html {
	background-color: #733281;
}
/*shadows around the aside bar box*/
body {
	width: 100%;
	max-width: 1425px;
	height: 100%;
	max-height: 5000px;
	-moz-box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
	-webkit-box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
	box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
}
/* box behind the aside link bar */
body {
  background-color: #59a697;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*.item1 align="center" {grid-area:main; }*/


/*#8e7c9c line around the text box*/
.grid-container {
	/* display: grid; */
	/* grid-gap: 10px; */
	background-color: #8e7c9c;
	padding: 10px;
}

/*color of the text box*/
.grid-container > div {
background-color: #59a697;
text-align: center;
padding: 10px 0;
font-size: 30px;
}

/*#52245c lines around the text box*/
div {
  /* max-width: 10000px;
  max-height:100px; */
  border: 3px solid #52245c;
}

/*navigation bar*/
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a1a1a;
}

/*nav bar word position*/
li {
  float: left;
}

/*nav bar box*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*nav bar hover color*/
li a:hover {
  background-color: #423748;
}

/*img sizes*/
img {
	max-width: 500px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
/*table border*/
td, th {
  border: 5px solid #1c837a;
  text-align: left;
  padding: 8px;
}
/*#4e0f49 table background*/
tr:nth-child(even) {
  background-color: #4e0f49;
}
