/* aside link bar */
nav{
  font-size: 25px;
}

/*link colors*/
a {
  color: #000000;
}

a:visited {
  color: #bdb8c7;
}

a:hover {
  color: #7b708f;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

article, aside, details, dl, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
