
/*main background color*/
html {
	background-color: #733281;
}
/*shadows around the aside bar box*/
body {
	width: 19%;
	max-width: 1020px;
	-moz-box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
	-webkit-box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
	box-shadow: #a1ddcd 20px 0px 25px,  #a1ddcd -20px 0px 25px;
}

}
